In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {border: 1px  black solid !important; color: black !important;text-align: center !important}
</style>

#Table Style: 1px table borders, center alignment for header and data, bold headers

In [2]:
#Import pandas module as 'pd'
import pandas as pd

In [3]:
#locate and read csv file
csv_path = 'resources/HeroesOfPymoli_data.csv'
hpr = pd.read_csv(csv_path)

#Diplays the resulting data frame of raw data
hpr

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
#Created a summary DataFrame
totalplayers=pd.DataFrame()

In [5]:
#Player Count

#Calculated total number of unique players on the list
total_player=[{'Total Players': len(hpr['SN'].unique())}]

#Appended the total number of players to the totalplayers list
totalplayers=totalplayers.append(total_player, ignore_index=True)

#Display Current totalplayers
totalplayers

   Total Players
0            576

In [6]:
#Purchasing Analysis (Total)

#Calculate the total unique items, average price, number of purchases, total revenue
unique_items =[{'Number of Unique Items': len(hpr['Item Name'].unique()), 
                'Average Price': '$'+str(round(hpr['Price'].mean(),2)), 
                'Number of Purchases': hpr['Purchase ID'].count(), 
                'Total Revenue': '$'+str(round(hpr['Price'].sum(),2))}]

#Copied unique_items list into a dataFrame
unique_df=pd.DataFrame(unique_items)

#Display total number of unique players and their activities
unique_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [7]:
#Gender Demographics

#Calculate gender demographics
genders=hpr[['SN','Gender']]

#Used drop duplicates to get unique genders and then counted, same thing can be achieved with the hpr.groupby('SN')['Gender'].count()
genders=genders.drop_duplicates()
genders_df = pd.DataFrame(genders['Gender'].value_counts())

#Chart formatting
genders_df['Percentage of Players']=(genders_df['Gender']/genders_df['Gender'].sum()).map('{:.2%}'.format)
genders_df= genders_df.rename(columns={'Gender':'Total Count'})

#Output Data frame for Gender Demographics
genders_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [8]:
#Purchasing Analysis (Gender) Fix!!!!!!!!!!!!!!!

#Creating the genders analysis dataframe
group_gender=hpr.groupby('Gender')['Price'].agg({'count','mean','sum'})

#Renaming column headers
group_gender=group_gender.rename(columns={'count': 'Purchase Count','mean': 'Average Purchase Price','sum': 'Total Purchase Value'})

#Rearranging the columns, order was not displayed as it was called from the group.by()
group_gender=group_gender[['Purchase Count', 'Average Purchase Price','Total Purchase Value']]

#Calculations for each gender for 'Avg Total Purchase per Person' column
group_gender['Avg Total Purchase per Person']=[group_gender.loc['Female','Total Purchase Value']/genders_df.loc['Female','Total Count'],
                                               group_gender.loc['Male','Total Purchase Value']/genders_df.loc['Male','Total Count'],
                                               group_gender.loc['Other / Non-Disclosed','Total Purchase Value']/genders_df.loc['Other / Non-Disclosed','Total Count']]
#Changing the formatting for the dataframe
group_gender['Average Purchase Price']=group_gender['Average Purchase Price'].astype(float).map('${:,.2f}'.format)
group_gender['Total Purchase Value']=group_gender['Total Purchase Value'].astype(float).map('${:,.2f}'.format)
group_gender['Avg Total Purchase per Person']=group_gender['Avg Total Purchase per Person'].astype(float).map('${:,.2f}'.format)

#Output of summary for gender purchase analysis
group_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [9]:
#Age Demographics

#Calculated total number of unique players on the list, creating a dataframe first with 'SN' and 'Age'
unique_age= hpr[['SN', 'Age']]

#Dropping duplicates again, but can also be implemnted by using the hpr.groupby('SN')['Age'].count()
unique_age=unique_age.drop_duplicates()

#Bin creation since age cannot be less than zero, or over 200, lower limit is set at 0 and upper is set at 200
bins = [0,9,14,19,24,29,34,39,200]

#Label of age group for bins specified
agegroup= ['>10', '10-14', '15-19','20-24', '25-29', '30-34', '35-39', '40+']

#"Cutting" the dataframe into the bins and grouping them by the specified bins
unique_age[''] = pd.cut(unique_age['Age'], bins, labels=agegroup, include_lowest=True)
unique_age_bins=unique_age.groupby('').count()

#Specifying unique players for age demographics % calculation
age_demo=unique_age_bins[['SN']]

#Formatting output for age demographics
age_demo['Percentage of Players']=(age_demo['SN']/age_demo['SN'].sum()).map('{:.2%}'.format)
age_demo=age_demo.rename(columns={'SN':'Total Count'})

#Table output for age demographics
age_demo

       Total Count Percentage of Players

>10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [10]:
#Purchasing Analysis (Age) Continuation of Age Demographics

#Creating a dataframe with the required information, .copy() was used due to a SettingwithCopyWarning to specify that a copy is made
purchase_age=hpr[['Age', 'Purchase ID', 'Price']].copy()

#Used an existing Bin to cut the current table into bins and grouped by age and used calculation on 'Price'
purchase_age['Age Ranges'] = pd.cut(purchase_age['Age'], bins, labels=agegroup, include_lowest=True)
purchase_bin=purchase_age.groupby('Age Ranges')['Price'].agg({'count','mean','sum'})
purchase_bin['Avg Total Purchase per Person'] = purchase_bin['sum']/age_demo['Total Count']

#Used a different method for renaming columns instead of .columns
purchase_bin=purchase_bin.rename(columns={'count': 'Purchase Count','mean': 'Average Purchase Price','sum': 'Total Purchase Value'})

#Formatted the data in the tables
purchase_bin['Average Purchase Price']=purchase_bin['Average Purchase Price'].astype(float).map('${:,.2f}'.format)
purchase_bin['Total Purchase Value']=purchase_bin['Total Purchase Value'].astype(float).map('${:,.2f}'.format)
purchase_bin['Avg Total Purchase per Person']=purchase_bin['Avg Total Purchase per Person'].astype(float).map('${:,.2f}'.format)

#Reorganized table columns
purchase_bin=purchase_bin[['Purchase Count','Average Purchase Price','Total Purchase Value', 'Avg Total Purchase per Person']]

##Table output for Age Purchase Analysis
purchase_bin

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
>10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [11]:
#Top Spenders

#Used groupby and created a table from it to save time, then added a column for calculation of the average purchase price per 'SN'
top=hpr.groupby('SN')['Price'].agg({'count','sum'})
top['Average Purchase Price']=top['sum']/top['count']
top=top[['count','Average Purchase Price','sum']]

#Renamed the columns
top=top.rename(columns={'count': 'Purchase Count', 'sum': 'Total Purchase Value'})

#Sorted the values in descending order by total purchase value
top=top.sort_values(by='Total Purchase Value', ascending=False)

#Formatted the data into currency
top['Total Purchase Value']=top['Total Purchase Value'].astype(float).map('${:,.2f}'.format)
top['Average Purchase Price']=top['Average Purchase Price'].astype(float).map('${:,.2f}'.format)

#Output a quick summary for the top spenders
top.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [12]:
#Most Popular Items

#Created a dataframe to capture  three columns from the original dataset
items=hpr[['Item ID', 'Item Name', 'Price']]

#Did a nesting groupby for the item id and item name since both are matched pairs, then used calculations on the price of the items
items_g=items.groupby(['Item ID','Item Name'])['Price'].agg({'count','sum'})

#Sorted the data into descending by purchase count, then calculated the item price by dividing the sum vs total purchases
items_g=items_g.sort_values(by='count', ascending=False)
items_g['Item Price']=items_g['sum']/items_g['count']

#Rearranged and renamed the columns
items_g = items_g[['count', 'Item Price', 'sum']]
items_g=items_g.rename(columns={'count': 'Purchase Count', 'sum': 'Total Purchase Value'})

#Differentiating between two tables because the next analysis requires the same table
items_p=items_g.copy()

#Formatted the tables to display currency
items_g['Item Price']=items_g['Item Price'].astype(float).map('${:,.2f}'.format)
items_g['Total Purchase Value']=items_g['Total Purchase Value'].astype(float).map('${:,.2f}'.format)


#Quick summary of the most popular items
items_g.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [13]:
#Most Profitable Items

#Currency is a string format and was copied over from the last table items_g into items_p, currency numbers are converted back to float in order to sort
items_p[items_p.columns[2]] = items_p[items_p.columns[2]].replace('[\$,]', '', regex=True).astype(float)

#Numbers are now able to be sorted as descending float
items_p=items_p.sort_values(by='Total Purchase Value', ascending=False)

#All float columns converted back to currency
items_p['Item Price']=items_p['Item Price'].astype(float).map('${:,.2f}'.format)
items_p['Total Purchase Value']=items_p['Total Purchase Value'].astype(float).map('${:,.2f}'.format)

#Quick summary of the most profitable items
items_p.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80